<div class="jumbotron">
	<center>
		<h1>Welcome to Teresa's Pizzas</h1>
	
		<img src="http://cdn.b-seenontop.com/wp-content/uploads/2012/11/competitor-pizza-shop.jpg" alt="">
		<br>

		<%= link_to "Check out our Pizzas!", pizzas_path, class: "btn btn-default" %>
	</center>
</div>