// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
color: pink;
font-size: 300%;
font-family: Ariel, Helvetica, sans-serif;
}

p {
	color: teal;
	font-size: 150%;
	font-family: Ariel, Helvetica, sans-serif;
}
