<h1>Name the Cities where TTS has a campus:</h1>

<div>
	<%= @message %>
</div>
<br>

<%= render 'form' %>

<% @cities.each do |city| %>
	<%= "#{city.id}. #{city.name}" %><br>
<% end %>

<%= link_to 'Back', cities_path %>
