<!-- Users will reach this page if they name all cities correctly -->

<h1>You Did It!</h1>
<h3>You named all cities where TTS has a Campus!</h3>

<p>Here they are:</p>

<div>
<% @cities.each do |city| %>
	<%= "#{city.id}. #{city.name}" %><br>
	<% end %>
</div>