<h1>About Me</h1>
<p>I am a local Asheville web designer, blogger, and social media marketer with several years experience in local startups agencies. I am a self taught WordPress designer with an HTML and CSS background, an eclectic style,  and tons of first hand experience working within the WordPress administrative panel including selecting and managing plugins, implementing content, managing settings, working with a variety of different themes, and making custom changes to the theme as necessary.</p>
