<h1>Welcome To My Site</h1>
<p>Hi Friends, Welcome to my Site!

When it comes to learning to code and developing for the web, you're never really done learning since new updates of existing code and products are constantly released and new tools and languages created. Check out some of my practice attempts at learning to code using Rails!</p>
