<h1>Editing Instructor</h1>

<%= render 'form' %>
<div class="panel-footer">
<%= link_to 'Show', @instructor,:class => "btn-primary btn-sm" %>
<%= link_to 'Back', instructors_path,:class => "btn-primary btn-sm" %>
</div>