<h1>Editing Course</h1>

<%= render 'form' %>
<div class="panel-footer">
<%= link_to 'Show', @course,:class => "btn-primary btn-sm" %>
<%= link_to 'Back', courses_path,:class => "btn-primary btn-sm" %>
</div>