<h1>Editing Student</h1>

<%= render 'form' %>
<div class="panel-footer">
<%= link_to 'Show', @student,:class => "btn-primary btn-sm" %>
<%= link_to 'Back', students_path,:class => "btn-primary btn-sm" %>
</div>