<h1>Editing Department</h1>

<%= render 'form' %>
<div class="panel-footer">
<%= link_to 'Show', @department,:class => "btn-primary btn-sm" %>
<%= link_to 'Back', departments_path,:class => "btn-primary btn-sm" %>
</div>