<h1>Editing Department</h1>

<%= render 'form' %>

<button class="btn btn-success"><%= link_to 'Show', @department %></button> |
<button class="btn btn-success"><%= link_to 'Back', departments_path %></button>
