/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.cant-see-me {
	display: none;
}

h1, h2, h3 {
	font-family: "KG Blank Space Sketch", sans-serif;
	color: #000;
}
body {
	background-color: #308391;
}

.container {
	background-color: rgba(255, 255, 255, .2);
	margin-top: 25px;
	margin-bottom: 25px;
	padding-bottom: 10px;
	border-radius: 5px;
}

a.btn.btn-danger, 
a.btn.btn-warning, 
a.btn.btn-primary,
a.btn.btn-success {
	color: white;
	margin: 5px;
}

.btn-teal {
	background-color: rgb(0, 128, 128);
	color: white;
}

.btn-teal:hover {
	background-color: rgb(0, 110, 110);
	color: white;
}

.btn-teal:visited {
	color: white;
}