<h1>Editing Product</h1>

<%= render 'form' %>

<button class="btn btn-success"><%= link_to 'Show', @product %></button> |
<button class="btn btn-success"><%= link_to 'Back', products_path %></button>
