<h1>Editing Enrollment</h1>

<%= render 'form' %>
<div class="panel-footer">
<%= link_to 'Show', @enrollment,:class => "btn-primary btn-sm" %>
<%= link_to 'Back', enrollments_path,:class => "btn-primary btn-sm" %>
</div>