<h1>Practical and Fun!</h1>

<body class="home"><p class="home">Get on board with this insanely popular and practical open source web application framework that has been used to build tools like Twitter, Basecamp, Hulu, Groupon, and Shopify!</p>
<p class="home">This application was designed to give faculty and students more information about our current enrollments, courses, and departments, as well as a list of facilitators and instructors currently involved at our organization. 
</p>

<h2 class="animated swing">Check Out All the Cool Stuff It Can Do...</h2>

<div class=icons>
<span class="glyphicon glyphicon-star"><p class="icon">You're a star!</p></span>
<span class="glyphicon glyphicon-user"><p class="icon">The Lone Wolf</p></span>
<span class="glyphicon glyphicon-heart"><p class="icon">I love Ruby!</p></span>
</div>

<h3>More Info Coming Soon</h3>
<div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
    82% Complete
  </div>
</div>

<h3>HTML, CSS, Ruby, & Rails Combined!</h3>
<p class="home">I used the Bootstrap styling options to create the row layout of the images and the styling of the borders. The images are called within Ruby tags. Using the div class "row" which was part of the information I got from Bootstrap which is HTML, I went into my CSS spreadsheet and changed my margin-left to get my images to appear centered on the page. And I used Rails to scaffold and create the tables, databases and views that I needed to build out my pages! Then I decided to make the images links. And just for fun, I added gradient to one of the images which is a CSS3 awesome sauce feature. <strong>TADA!</strong></p>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="http://rubyonrails.org/" class="thumbnail">
      <%= image_tag("ruby.png") %>
    </a>
   </div>

   <div class="col-xs-6 col-md-3">
    <a href="http://rubyonrails.org/" class="thumbnail" id="img">
    <%= image_tag("ruby-rails.jpg") %>
    <div id="gradient"></div> 
    </a>
    </div>

	<div class="col-xs-6 col-md-3">
    <a href="http://rubyonrails.org/" class="thumbnail">
      <%= image_tag("rubyrails.png") %>
    </a>
  </div>

 </div>

 
</body>

