<h1>Welcome to Rails University</h1>
<body class="home">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("ruby.png", width: "100%" ) %>
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
      <%= image_tag("ruby-rails.jpg", width: "100%") %>
      <div class="carousel-caption">
        
      </div>
    </div>
   
  	<div class="item">
      <%= image_tag("rubyrails.png", width: "100%") %>
      <div class="carousel-caption">
        
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<h2>Don't Break the Internet</h2>
<p class="home">Instead of breaking stuff, learn how to code fast and efficiently with Ruby on Rails! It's kind of a duh.</p>
 <button type="button" class="btn btn-default"><a class="rlink" href="http://rubyonrails.org/">Learn More</a></button>

</body>

</body>






